// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$primary-color: #efa501;
$grey-color: #d5d5d5;
$dark-grey: #666;
$line-color: rgba(0, 0, 0, 0.12);
$color-pestanya: white;
$color-pestanya-text: black;
$footer-background: #333;
$primary-button-background: $primary-color;
$primary-button-text: #f9db99;
$primary-button-background-hover: #ffca56;
$primary-button-text-hover: white;
// POP UP
$popup-border-radius: 25px;
$popup-width: 400px;
$popup-height: 200px; // MAX height when there is no image
$popup-height-with-image: 400px; // MAX height when there is an image
$popup-vertical-offset: 25px;

$li-item-padding: 5px;
$left-drawer-width: 450px;
$icon-tiger: '../assets/img/marker_tiger.svg';
$icon-yellow: '../assets/img/marker_yellow.svg';
$icon-koreicus: '../assets/img/marker_koreicus.svg';
$icon-japonicus: '../assets/img/marker_japonicus.svg';
$icon-culex: '../assets/img/marker_culex.svg';
$icon-unidentified: '../assets/img/marker_unidentified.svg';
$icon-other: '../assets/img/marker_other.svg';
$icon-mosquito-disabled: '../assets/img/marker_mosquito_disabled.svg';
$icon-unidentified-disabled: '../assets/img/marker_unidentified_disabled.svg';
$icon-other-disabled: '../assets/img/marker_other_disabled.svg';
